* {
	margin: 0;
	padding: 0;
}

html,
body {
  background-color: #242424;
}

.App {
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content:space-evenly;
  padding-top: 100px;
}

h1 {
  font-size: 2.2em;
  line-height: 1em;
  color: antiquewhite;
}

button {
  border-radius: 8px;
  border: 1px solid #646cff;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 13px;
  color: #646cff;
}
button:hover {
  border-color: #646cff;
  background-color:#646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

